################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/1.6/Assemblies/RatkinUnderground.dll
/1.6/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.csproj.AssemblyReference.cache
/1.6/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.dll
/1.6/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.pdb
/1.6/RatkinUnderground/.vs/RatkinUnderground/FileContentIndex/9329c38e-108d-4e89-a4ab-46771507b5f4.vsidx
/1.6/RatkinUnderground/.vs/RatkinUnderground/v18/.suo
/1.6/RatkinUnderground/.vs/RatkinUnderground/v18/DocumentLayout.backup.json
/1.6/RatkinUnderground/.vs/RatkinUnderground/v18/DocumentLayout.json
/1.6/RatkinUnderground/.vs/RatkinUnderground/FileContentIndex/3c5172bd-001b-4064-84ff-38bf19a99082.vsidx
/1.6/RatkinUnderground/.vs/RatkinUnderground/FileContentIndex/bf51c151-38f9-483c-b2d4-d2c04bffdad9.vsidx
/1.6/RatkinUnderground/.vs/RatkinUnderground/FileContentIndex/90793155-9019-4807-b90a-181755e6312c.vsidx
/1.6/RatkinUnderground/.vs/RatkinUnderground/FileContentIndex/d571bda8-059f-47f9-b6b5-255241e26502.vsidx
/1.6/RatkinUnderground/.vs/RatkinUnderground/FileContentIndex/e1857013-3e3c-4cd2-ab62-8a7135ca8c25.vsidx
/1.6/RatkinUnderground/.vs/RatkinUnderground/copilot-chat/5f8c6e74/sessions/cece1c89-718b-457c-ae6d-4735aab8e262
/1.6/RatkinUnderground/.vs/RatkinUnderground/v18/HierarchyCache.v1.txt
/1.5/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.csproj.AssemblyReference.cache
/1.5/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.csproj.AssemblyReference.cache
/1.5/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.csproj.CoreCompileInputs.cache
/1.5/RatkinUnderground/RatkinUnderground/obj/Debug/RatkinUnderground.csproj.FileListAbsolute.txt
/1.6/Assemblies/RatkinUnderground.dll
/1.5/Assemblies/RatkinUnderground.dll
/1.5/Assemblies/RatkinUnderground.pdb
